/* ****************************************
   
   table2list utility
   Author: Marcelo Guzman (marcelo@marceloguzman.com)
   https://github.com/marceloguzman/table2list

   **************************************** */
   

/* -------- for use with the table2list script -------------------------- */
   
.table2list{
display: table;
}

.table2list_result{
display: none;
}


@media only screen and (max-width: 600px) {

	.table2list{
	display: none;
	}

	.table2list_result{
	display: block;
	}

}

/* ---------------------------------------------------------------------- */



body{
background-color: #f5f5f5;

}

table.tabla {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.tabla th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.tabla td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.numbers {
text-align: right;
}

.numbers td:first-child {
text-align: left;
width: 110px;
}

